<!--<div-->
     <!--style=' background: {{ message["sentiment"] }}'-->
     <!--class="message" id="m{{ message["_id"] }}">-->

<!--<b>{{ message["from"] }}: </b>{% raw message["body"] %}-->

<!--</div>-->



<div class="message" id="m{{ message["_id"] }}" style="padding:7px ">
            <b>{{ message["from"] }}: </b>
            <comment       style=' background: {{ message["sentiment"] }}

                                    width: inherit;
                                    color: #080808;
                                    font-weight: bold;
                                    padding: 5px;
                                    border: 2px solid;
                                    border-radius: 25px;'>

                {% raw message["body"] %}
            </comment>
        </div>
