<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

    
    <title>Sentimental chat</title>
    <!-- Bootstrap core CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"  crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"  crossorigin="anonymous">
    
    
    <!-- Custom styles for this template -->
    <style type="text/css">
        
        body { 
          background:url(http://images.fineartamerica.com/images-medium-large-5/highlands-sunrise-whitesides-mountain-in-highlands-nc-dave-allen.jpg) no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
            min-height: 100%;
            min-width: 100%;   

        }
        
        body {
            
            padding-top: 50px;
           overflow-y: hidden
        }
        #chat-input {
            position: fixed ;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1030;
            margin-bottom: 0;
        }
        #chat-input .form-actions {
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>
   <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
        <![endif]-->
    </head>
 <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    
    
     
     
     
    
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/room/1">Room 1</a></li>
                <li ><a href="/room/2">Room 2</a></li>
                <li ><a href="/room/3">Room 3</a></li>
                <li ><a href="/room/4">Room 4</a></li>

                <!-- <li class="divider"></li> -->
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
     
     
     
<div class="container" style="height:100%; width:100%; position:absolute;" >
    <div class="container" style="height:100%">

        <h1>Room 1</h1>

        <div id="messsages" style="background:white;
                                   opacity: 0.7;
                                   
                                   height:75%;  
                                   overflow-y: scroll;" >


            <div class="message " id="mTZUFTUQUGIIM" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(255,255,255);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    s
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(255,255,255); '-->
            <!--class="message" id="mXSDZJQLHISLC">-->
            <!--<b>Guest: </b>s-->
            <!--</div>-->
            <div class="message" id="mXSDZJQLHISLC" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(255,255,255);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    s
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(255,255,255); '-->
            <!--class="message" id="mFRXGFRDVDNPM">-->
            <!--<b>Guest: </b>s-->
            <!--</div>-->
            <div class="message" id="mFRXGFRDVDNPM" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(255,255,255);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    s
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(255,255,255); '-->
            <!--class="message" id="mVWKIEXYWKXQH">-->
            <!--<b>Guest: </b>s-->
            <!--</div>-->
            <div class="message" id="mVWKIEXYWKXQH" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(255,255,255);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    s
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mPFBVNRLYHYYW">-->
            <!--<b>Guest: </b>bljkndsf-->
            <!--</div>-->
            <div class="message" id="mPFBVNRLYHYYW" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    bljkndsf
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mDRMPHAAEJPJQ">-->
            <!--<b>Guest: </b>sldkf-->
            <!--</div>-->
            <div class="message" id="mDRMPHAAEJPJQ" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    sldkf
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mGVFSZIPHENQS">-->
            <!--<b>Guest: </b>lklksd-->
            <!--</div>-->
            <div class="message" id="mGVFSZIPHENQS" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    lklksd
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mEQRZBLGXZBGN">-->
            <!--<b>Guest: </b>jssss-->
            <!--</div>-->
            <div class="message" id="mEQRZBLGXZBGN" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    jssss
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mUWNCIIPBUPXG">-->
            <!--<b>Guest: </b>hello-->
            <!--</div>-->
            <div class="message" id="mUWNCIIPBUPXG" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(233,21,0); '-->
            <!--class="message" id="mXURZSZDHATYU">-->
            <!--<b>Guest: </b>i am awesome-->
            <!--</div>-->
            <div class="message" id="mXURZSZDHATYU" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(233,21,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    i am awesome
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mISYGGOEFWSWA">-->
            <!--<b>Guest: </b>hello-->
            <!--</div>-->
            <div class="message" id="mISYGGOEFWSWA" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mOODJUKWDWUZS">-->
            <!--<b>Guest: </b>hello-->
            <!--</div>-->
            <div class="message" id="mOODJUKWDWUZS" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(236,18,0); '-->
            <!--class="message" id="mRJSJBANOOXTC">-->
            <!--<b>Guest: </b>#123456-->
            <!--</div>-->
            <div class="message" id="mRJSJBANOOXTC" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(236,18,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    #123456
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mLASZTWNFYFXY">-->
            <!--<b>Guest: </b>hello-->
            <!--</div>-->
            <div class="message" id="mLASZTWNFYFXY" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(236,18,0); '-->
            <!--class="message" id="mQXVDELYZXCCX">-->
            <!--<b>Guest: </b>hi there-->
            <!--</div>-->
            <div class="message" id="mQXVDELYZXCCX" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(236,18,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hi there
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(233,21,0); '-->
            <!--class="message" id="mAWJYOTLRTJMY">-->
            <!--<b>Guest: </b>and rip you to pieces-->
            <!--</div>-->
            <div class="message" id="mAWJYOTLRTJMY" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(233,21,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    and rip you to pieces
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(250,4,0); '-->
            <!--class="message" id="mNUOIJMBEPVUX">-->
            <!--<b>Guest: </b>hello there-->
            <!--</div>-->
            <div class="message" id="mNUOIJMBEPVUX" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(250,4,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello there
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(250,4,0); '-->
            <!--class="message" id="mGWGXZHPPLJEC">-->
            <!--<b>Guest: </b>hello there-->
            <!--</div>-->
            <div class="message" id="mGWGXZHPPLJEC" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(250,4,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello there
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(66,188,0); '-->
            <!--class="message" id="mHVKMKCTERZTJ">-->
            <!--<b>Guest: </b>fuck you-->
            <!--</div>-->
            <div class="message" id="mHVKMKCTERZTJ" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(66,188,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    fuck you
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(149,105,0); '-->
            <!--class="message" id="mBQXTARYFWCBG">-->
            <!--<b>Guest: </b>i hae you-->
            <!--</div>-->
            <div class="message" id="mBQXTARYFWCBG" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(149,105,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    i hae you
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(251,3,0); '-->
            <!--class="message" id="mYZUSSWQLQRUI">-->
            <!--<b>Guest: </b>i hate you-->
            <!--</div>-->
            <div class="message" id="mYZUSSWQLQRUI" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(251,3,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    i hate you
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(1,253,0); '-->
            <!--class="message" id="mZUATTCNLQOGD">-->
            <!--<b>Guest: </b>i love you-->
            <!--</div>-->
            <div class="message" id="mZUATTCNLQOGD" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(1,253,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    i love you
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mDMSIHFFMNZCT">-->
            <!--<b>Guest: </b>fuck   -->
            <!--</div>-->
            <div class="message" id="mDMSIHFFMNZCT" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    fuck
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(66,188,0); '-->
            <!--class="message" id="mMSQYVKMRKPTV">-->
            <!--<b>Guest: </b>fuck   you-->
            <!--</div>-->
            <div class="message" id="mMSQYVKMRKPTV" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(66,188,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    fuck   you
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mBFBLNBQXGINL">-->
            <!--<b>Guest: </b>djius-->
            <!--</div>-->
            <div class="message" id="mBFBLNBQXGINL" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    djius
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(254,0,0); '-->
            <!--class="message" id="mKMCVKILPTUDI">-->
            <!--<b>Guest: </b>sad   -->
            <!--</div>-->
            <div class="message" id="mKMCVKILPTUDI" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(254,0,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    sad
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mLNPLSQFANWTX">-->
            <!--<b>Guest: </b>hello-->
            <!--</div>-->
            <div class="message" id="mLNPLSQFANWTX" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mQISWZRJMYUBR">-->
            <!--<b>Guest: </b>ghdsf-->
            <!--</div>-->
            <div class="message" id="mQISWZRJMYUBR" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    ghdsf
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mYREKDLNNSEOH">-->
            <!--<b>Guest: </b>dkmkkjsakjcdf-->
            <!--</div>-->
            <div class="message" id="mYREKDLNNSEOH" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    dkmkkjsakjcdf
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mWZTSIOFNWKAJ">-->
            <!--<b>Guest: </b>sdcfdvf baerwcv-->
            <!--</div>-->
            <div class="message" id="mWZTSIOFNWKAJ" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    sdcfdvf baerwcv
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(28,226,0); '-->
            <!--class="message" id="mMMBVVJUKLPMQ">-->
            <!--<b>Guest: </b>this is a dog-->
            <!--</div>-->
            <div class="message" id="mMMBVVJUKLPMQ" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(28,226,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    this is a dog
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(247,7,0); '-->
            <!--class="message" id="mOEGOTZPYTBGT">-->
            <!--<b>Guest: </b>i am ambivalent-->
            <!--</div>-->
            <div class="message" id="mOEGOTZPYTBGT" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(247,7,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    i am ambivalent
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(35,219,0); '-->
            <!--class="message" id="mJPWKPOOQIPTO">-->
            <!--<b>Guest: </b>this is it-->
            <!--</div>-->
            <div class="message" id="mJPWKPOOQIPTO" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(35,219,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    this is it
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(38,216,0); '-->
            <!--class="message" id="mJIDRPCSXNQTJ">-->
            <!--<b>Guest: </b>is it this-->
            <!--</div>-->
            <div class="message" id="mJIDRPCSXNQTJ" style="padding:7px ">
                <b>Guest: </b>
                <comment style=' background: rgb(38,216,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    is it this
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mAMXEBOVSBKUT">-->
            <!--<b>ravi@gmail.com: </b>hello-->
            <!--</div>-->
            <div class="message" id="mAMXEBOVSBKUT" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(107,147,0); '-->
            <!--class="message" id="mUEAOGGPQERKB">-->
            <!--<b>ravi@gmail.com: </b>really-->
            <!--</div>-->
            <div class="message" id="mUEAOGGPQERKB" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(107,147,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    really
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(242,12,0); '-->
            <!--class="message" id="mOMLGBJCBMKUY">-->
            <!--<b>ravi@gmail.com: </b>your name-->
            <!--</div>-->
            <div class="message" id="mOMLGBJCBMKUY" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(242,12,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    your name
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mEZKXCJOWLPPD">-->
            <!--<b>ravi@gmail.com: </b>hello-->
            <!--</div>-->
            <div class="message" id="mEZKXCJOWLPPD" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mYAIXTSDCWJUT">-->
            <!--<b>ravi@gmail.com: </b>hidsf-->
            <!--</div>-->
            <div class="message" id="mYAIXTSDCWJUT" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hidsf
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(253,1,0); '-->
            <!--class="message" id="mUIOOHVAAMFYW">-->
            <!--<b>ravi@gmail.com: </b>hello my name is ravi shah-->
            <!--</div>-->
            <div class="message" id="mUIOOHVAAMFYW" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(253,1,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello my name is ravi shah
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(250,4,0); '-->
            <!--class="message" id="mLPPYEMLMVDMM">-->
            <!--<b>ravi@gmail.com: </b>hello there-->
            <!--</div>-->
            <div class="message" id="mLPPYEMLMVDMM" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(250,4,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello there
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mNWNMIZRTDGVY">-->
            <!--<b>ravi@gmail.com: </b>dssfasdfa-->
            <!--</div>-->
            <div class="message" id="mNWNMIZRTDGVY" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    dssfasdfa
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mVZQFOSOUCCMR">-->
            <!--<b>ravi@gmail.com: </b>       -->
            <!--</div>-->
            <div class="message" id="mVZQFOSOUCCMR" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>

                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mSWENLGNRTHMQ">-->
            <!--<b>rshah43@jhu.edu: </b>hello-->
            <!--</div>-->
            <div class="message" id="mSWENLGNRTHMQ" style="padding:7px ">
                <b>rshah43@jhu.edu: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mDPCDNQVXIKNK">-->
            <!--<b>rshah43@jhu.edu: </b>hello-->
            <!--</div>-->
            <div class="message" id="mDPCDNQVXIKNK" style="padding:7px ">
                <b>rshah43@jhu.edu: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mBFEMQLGVBBDP">-->
            <!--<b>ravishah: </b>hello-->
            <!--</div>-->
            <div class="message" id="mBFEMQLGVBBDP" style="padding:7px ">
                <b>ravishah: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(253,1,0); '-->
            <!--class="message" id="mOVAIZBRKBQIE">-->
            <!--<b>ravishah: </b>what the hell-->
            <!--</div>-->
            <div class="message" id="mOVAIZBRKBQIE" style="padding:7px ">
                <b>ravishah: </b>
                <comment style=' background: rgb(253,1,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    what the hell
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(188,66,0); '-->
            <!--class="message" id="mZKMZTLEMGNGC">-->
            <!--<b>ravi@gmail.com: </b>hello-->
            <!--</div>-->
            <div class="message" id="mZKMZTLEMGNGC" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(188,66,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    hello
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(250,4,0); '-->
            <!--class="message" id="mYQMXPVZFQIMX">-->
            <!--<b>ravi@gmail.com: </b>there-->
            <!--</div>-->
            <div class="message" id="mYQMXPVZFQIMX" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(250,4,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    there
                </comment>
            </div>


            <!--<div-->
            <!--style=' background: rgb(66,188,0); '-->
            <!--class="message" id="mAIUHJJZCEWJE">-->
            <!--<b>ravi@gmail.com: </b>fuck you-->
            <!--</div>-->
            <div class="message" id="mAIUHJJZCEWJE" style="padding:7px ">
                <b>ravi@gmail.com: </b>
                <comment style=' background: rgb(66,188,0);
opacity: 0.7;
width: inherit;
color: #080808;
font-weight: bold;
padding: 5px;
border: 2px solid;
border-radius: 25px;'>
                    fuck you
                </comment>
            </div>

        </div>
        
        
  
        
        <form class="form-inline container" role="form" id="chat-input">
 
                <div class="form-group" style="width:100%; overflow: hidden; padding-right: .5em;">
                    
                    
                    



                    
                    <input type="text" 
                           class="form-control inline" 
                           name="body" 
                           id="message-input" 
                           style="width:80%; margin:0; padding:0; float: left; " 
                           placeholder="Chat Message" 
                           pattern=".{5,}" 
                           required title="5 characters minimum">
                    
                    <input type="hidden" name="_xsrf" value="3ed57c2966e941a999cada11ed18384e"/>

                
                <button type="submit"  
                        class="inline  btn  btn-default" 
                        style="float: right; width:20%">
                    Post
                </button>


            </div>
        </form>
    </div>
</div><!-- /.container -->
<!-- Bootstrap core JavaScript

================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
     
     
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"  crossorigin="anonymous"></script>

<!-- Application script -->
<script src="/static/app.js?v=793229896283efebd7ff6d1199298f31" type="text/javascript"></script>

</body>
</html>